:root {
  --text-color: rgb(156, 180, 156);
  --ghost-color: lime;
}

* {
  font-family: "Consolas", sans-serif;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.1rem;
}

html {
  cursor: pointer;
}

body {
  background: rgb(32, 32, 32);
  background-image: url("../img/402107790_STATIC_NOISE_400.gif");
  background-blend-mode: multiply;
}


#ghost {
  position: fixed;
  right: 5%;
  bottom: 5%;
}
